
<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <div class="card shadow">
            <div class="card-body">
        <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <lable class="form-label" for="title">Title</lable>
            <input class="form-control" type="text" id="title" name="campground[title]" required>
            <div class="valid-feedback">
                Looks good
            </div>
        </div>
        <div class="mb-3">
            <lable class="form-label" for="location">Location</lable>
            <input  class="form-control"  type="text" id="location" name="campground[location]" required>
            <div class="valid-feedback">
                Looks good
            </div>
        </div>
        
        <div class="mb-3">
            <lable class="form-label" for="price">Campground Price</lable>
        <div class="input-group mb-3">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="campground[price]" required>
          </div>
          <div class="valid-feedback">
            Looks good
        </div>
        </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                <label for="formFileMultiple" class="form-label">Choose images</label> 
                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
              </div>
            </div>
           
              

            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
    </div>
    </div>
</div>

<!-- <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')
  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
})()
</script> 
 -->








































<!-- <% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <lable class="form-label" for="title">Title</lable>
            <input class="form-control" type="text" id="title" name="campground[title]" required>
            <div class="valid-feedback">
                Looks good
            </div>

        </div>
        <div class="mb-3">
            <lable class="form-label" for="location">Location</lable>
            <input  class="form-control"  type="text" id="location" name="campground[location]" required>
            <div class="valid-feedback">
                Looks good
            </div>
        </div>
        
        <div class="mb-3">
            <lable class="form-label" for="price">Campground Price</lable>
        <div class="input-group mb-3">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="campground[price]" required>
          </div>
          <div class="valid-feedback">
            Looks good
        </div>
        </div>

        <div class="mb-3">
            <lable class="form-label" for="description">Description</lable>
            <textarea class="form-control"  type="text" id="description" name="campground[description]" required></textarea>
            <div class="valid-feedback">
                Looks good
            </div>   
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
        </div>
        
        
    </form>
    <a href="/campgrounds">All Campgrounds</a>
</div>
</div>
    

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script> -->













